/*------------------------------------------------------------------ 
Project:      Inkscape, Keyboard and mouse reference   (keys)
--------------------------------------------------------------------
[Table of contents] 
1. Body
2. Header / #header
3. Table of content / .toc 
4. Page content
    4.1. Headings
    4.2. Sections
    4.3. Shortcuts list
5. Footer / #footer
6. Keyboard and mouse reference - Layout adjustments for wider screens
-------------------------------------------------------------------*/  

/*------------------------------------------------------------------ 
[1. Body] 
*/

body.kmr {
    margin: 1em;
    font: 1em serif;
    background-color: #ffffff;
}

/*------------------------------------------------------------------ 
[2. Header ]
*/

h1.kmr {
    margin-top: 0.5em;
    padding-left: 40px;
    padding-bottom: 0em;
    margin-bottom: 0em;
    letter-spacing: -0.02em;
}

.wrapper h1.kmr {
    display: none;
}

.kmr-releaseinfo, .kmr-pubdate {
	font-family: sans-serif;
	font-size: 0.7em;
	font-weight: bold;
    padding-left: 60px;
}

.wrapper .kmr-releaseinfo, .wrapper .kmr-pubdate {
    padding-left: 30px;
}

/*------------------------------------------------------------------ 
[3. Table of contents ]
*/

.kmr-toc {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 1em;
    background-color: #eeeeee;
    font-size: 0.8em;
    line-height: 1.5em;
}

.kmr-toc ul {
    padding-left: 10px;
    list-style:none;
}

.kmr-toc li {
    padding-left: 5px;
    text-indent: -5px;
}

.kmr-toc-section {
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
}

.kmr-toc-group {
    font-size: 0.9em;
    text-decoration: none;
}

.kmr-toc a:hover {
    text-decoration: underline;
}
/*------------------------------------------------------------------ 
[4. Content ]
*/

/*-- [4.1. Headings] --*/

h2.kmr, h3.kmr {
    padding-bottom: 0em;
    margin-bottom: 0.2em;
}

h2.kmr {
    margin-top: 0.5em;
    padding-left: 40px;
    font-size: 1.6em;
}

h3.kmr {
    font-size: 1.1em;
    font-style: italic;
    margin-top: 1em;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #999;
}

/*-- [4.2. Sections] --*/

table.kmr {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0;
    margin: 0;
    padding: 4px;
    width: 100%;
}

.kmr-color1 {background-color: #f5f5f5;}
.kmr-color2 {background-color: #f0eae7;}
.kmr-color3 {background-color: #f8f3e9;}
.kmr-color4 {background-color: #e5f1e7;}
.kmr-color5 {background-color: #efcfdf;}
.kmr-color6 {background-color: #f3f2e2;}
.kmr-color7 {background-color: #e8fae1;}
.kmr-color8 {background-color: #f6f9d9;}
.kmr-color9 {background-color: #f4ecf5;}
.kmr-color10 {background-color: #f9f1d9;}
.kmr-color11 {background-color: #eee4dc;}
.kmr-color12 {background-color: #f9f1d9;}
.kmr-color13 {background-color: #f2f1ea;}
.kmr-color14 {background-color: #ebf1fd;}
.kmr-color15 {background-color: #cff4e2;}
.kmr-color16 {background-color: #ffece8;}
.kmr-color17 {background-color: #f8f7d5;}
.kmr-color18 {background-color: #f3f3f3;}
.kmr-color19 {background-color: #e7e9f3;}
.kmr-color20 {background-color: #e9efc5;}
.kmr-color21 {background-color: #e7f5d7;}
.kmr-color22 {background-color: #e9dfef;}
.kmr-color23 {background-color: #f2f9da;}
.kmr-color24 {background-color: #e9f3e7;}
.kmr-color25 {background-color: #feeffa;}
.kmr-color26 {background-color: #eefdf3;}

/*-- [4.3. Shortcuts list] --*/

.kmr td {
    vertical-align: baseline;
}

.kmr-keys {
    text-align: right;
    line-height: 1.5em;
    width: 45%;
    padding-top: 2px;
}

.kmr-shortcut {
    font-weight: bold;
}

.kmr-keypad {
    background-color: #eeeee6;
    padding: 1px 5px;
    border: 1px solid #999999;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.kmr-plussign {
  margin: 0 2px;
}

.kmr-action {
    line-height: 1.5em;
    padding-left: 10px;
}

span.kmr-action {
    display: block;
}

.kmr-note {
    padding-left: 80px;
    padding-right: 40px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.kmr-note span {
    display: block;
    font-size: 70%;
    font-family: sans-serif;
    color: #333333;
    border-left: 1px solid #999999;
    padding-left: 5px;
}

/*------------------------------------------------------------------ 
[5. Footer] 
*/

img.kmr {
    border: 0;
}

/*------------------------------------------------------------------
[6. Keyboard and mouse reference - Layout adjustments for wider screens]
*/

@media (min-width: 699px) and (min-width: 30em) {
  .kmr-toc {
    width: 250px;
    float: left;
  }

  .kmr-chapter {
    margin-left: 300px;
  }
}
